.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #14c9d2;
  height: 150px;
  padding: 20px;
  color: white;
  border-bottom: 10px solid #195365;
}

.App-title {
  font-size: 4.5em;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.Smart {
  color: #fff;
}

.Health {
  color: #195365;
}

.Guide {
  color: #000;
}

.App-intro {
  font-size: large;
}

.Suggestion-grid {
	display: grid;
	grid-template-columns: auto auto auto;
}

.Suggestion-card {
	width: 350px;
	border: 3px solid #195365;
	border-radius: 5px;
	padding: 10px;
	background-color: #fff;
	margin: 10px;
}
	
.Suggestion-dist {
	text-align: right;	
	margin: unset;
	font-family: 'Roboto', sans-serif;
}

.Suggestion-data-type {
	margin: unset;
	margin-bottom: 10px;
	text-align: right;	
	font-family: 'Roboto', sans-serif;
}

.Suggestion-offer {
	margin: unset;
	margin-top: 10px;
	float: left;	
	color: #1bb51b;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
}

.Suggestion-image {
	width: 35px;
	height: 35px;
	float: left;
	margin-right: 10px;
}

.Suggestion-name {
	font-family: 'Raleway', sans-serif;
	font-size: 25px;
	color: #206276;
	margin: unset;
	margin-bottom: 25px;
	text-align: left;	
}

.Suggestion-cta {
	float: right;
	font-family: 'Raleway', sans-serif;
}

.fa-map-marker {
	color: red;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
